html
{
    margin: auto;
    scroll-behavior: smooth; 
    width:fit-content;
    height: fit-content;
}

body
{
    background-color: #eeeeee;
}

.avatar
{
    width: 300px;
    height: 350px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 0px;
    border: solid gray 5px;
    float: left;
    justify-self: start;
}

.nav
{
    background-color: yellow;
}

.nav-list
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.nav-item
{
    display: inline-block;
    border-bottom: solid 1px #000000;
}

.nav-link
{
    text-decoration: none;
    color: black;
    padding: 0px 5px;
}

h1
{
    font-size: 50px;
    margin: 0;
    margin-top: 30px;
}

h2
{
    margin: 0px;
    padding: 0px;
    font-size: 40px;
}

p
{
    margin: 0;
    margin-bottom: 80px;
    font-size: 25px;
}

.contacts-section
{
    padding: 0;
    margin-right: 50px;
    margin-top: -5px;
    margin-left: 325px;
    font-size: 25px;
}

.contacts-section ul
{
    margin: 0;
    font-size: 30px;
    list-style: none;
    list-style-position: inside;
    column-count: 2;
}

.contacts-item
{
    margin: 5px;
    padding: 0;
}

.workspace
{
    margin-top: 0px;
    display: inline-block;
}

.workspace p
{
    margin: 7px;
    text-align: left;
}

.workspace ul, .code-section pre, .languages-section p, .experience-section p
{
    margin: 0;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.summary-section, .skills-section, .languages-section,  .experience-section 
{
    border: solid #000000 1px;
    width: 49%;
    float: left;
    text-align: left;
}

.education-section, .code-section
{
    border: solid #000000 1px;
    width: 49%;
    float: right;
    text-align: left;
}

.code-section, .skills-section, .languages-section, .experience-section
{
    margin-top: 30px;
}

.experience-section
{
    margin-top: 26px;
    margin-bottom: 0px;
}

footer
{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

footer p
{
    margin: 0;
    padding: 0;
}