html
{
    scroll-behavior: smooth; 
}

body
{
    background-color: #eeeeee;
}

.avatar
{
    width: 300px;
    height: 350px;
    margin: 30px;
    margin-left: 50px;
    margin-top: 0px;
    border: solid gray 5px;
    display: inline;
    float: left;
}

.nav
{
    background-color: yellow;
    margin-left: 50px;
    margin-right: 50px;
}

.nav-list
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 10px;
}

.nav-item
{
    display: inline-block;
    border-bottom: solid 1px #000000;
}

.nav-link
{
    text-decoration: none;
    color: black;
    padding: 0px 5px;
}

h1
{
    font-size: 50px;
    margin: 0;
    margin-top: 30px;
}

h2
{
    margin: 0px;
    padding: 0px;
    font-size: 40px;
}

p
{
    margin: 0;
    margin-bottom: 80px;
    font-size: 25px;
}

.contacts-section
{
    padding: 0;
    margin-right: 50px;
    margin-top: -5px;
    margin-left: 375px;
    font-size: 25px;
    border: solid #000000 1px;
}

.contacts-section ul
{
    margin: 0;
    font-size: 30px;
    list-style: none;
    list-style-position: inside;
    column-count: 2;
}

.contacts-item
{
    margin: 5px;
    padding: 0;
}

.workspace
{
    margin: 50px;
    margin-top: 0px;
    display: inline-block;
}

.workspace p
{
    margin: 7px;
    text-align: left;
}

.summary-section 
{
    border: solid #000000 1px;
    width: 49%;
    float: left;
    text-align: left;
}

.education-section
{
    border: solid #000000 1px;
    width: 49%;
    float: right;
    text-align: left;
}